// body
// ----
	body {
	    background:$brandTwo;
		background:linear-gradient(45deg,rgba($brandTwo, 1) 5%, rgba($brandFour, 1) 95%);

	    .max-width {
			background-color:$bodyBG;
			background:linear-gradient($brandFour, $brandTwo);
		}
	    font-family:$bodyFont;
	    color:$bodyTextColor;
	    line-height:$bodyLineHeight;
	    font-size:$bodyFontSize;

	    &.locked {
	    	overflow:hidden !important;
	    	height:100vh;
	    }
	}

// headers
// -------
	h1, h2, h3, h4, h5, h6, 
	.h1, .h2, .h3, .h4, .h5, .h6 {
		margin: ($bodyLineHeight / 4) 0 ($bodyLineHeight / 2);
		font-weight: $headlineFontWeight;
		font-family: $headlineFont;
		line-height: 1.1em;
		color: $headlineFontColor;
		letter-spacing: $headlineLetterSpacing;
		text-rendering: optimizelegibility; // Fix the character spacing for headings
		display:block;
		a {
			color:inherit;
		}

		&.secondary {
			// color:$headlineSecFontColor;
		}
		&.body-font {
			// font-family: $baseFontFamily !important;
		}
	}

	// Modular Size Loop
	// -----------------
	@for $i from 1 through 6 {
	  	h#{$i}, .h#{$i} {
	    	font-size: modular-scale((5 - $i), $bodyFontSize, 1.4);
	  	}
	}

	.page-title {
		text-align:center;
		margin:0 0 ($bodyLineHeight * 1);
		color:$brandFour;
		font-weight:900;
		letter-spacing: -0.05em;
	}


// RTE and Basic Defaults




	// Body text
	// ----------
		p {
			margin: 0 0 $bodyLineHeight / 2;
			line-height:$bodyLineHeight;
			color:$bodyTextColor;
			font-size:$bodyFontSize;
		}


		label {
			// font-family: $headlineFontFamily;
			color: $headlineFontColor;
			font-weight: $headlineFontWeight;
			font-size:$bodyFontSize - 1;

		}
		a {
			color: $linkColor;
			text-decoration: none;
			&:hover {
				color: $linkColorHover;
				text-decoration: underline;
			}
		}

	// RTE text
	// --------
		.rte {

			margin:1em auto;
			max-width:700px;
			@for $i from 1 through 6 {
			  	h#{$i}, .h#{$i} {
			    	font-size: modular-scale((4 - $i), $bodyFontSize, 1.5);
			    	font-weight:900;
			    	letter-spacing:0em;
			    	margin-bottom:($bodyLineHeight * 0.1);
			    	font-family:$bodyFont;
			  	}
			}
			p {
				font-size:($bodyFontSize * 1.05);
			}
			a {
				color: $linkColor;
				text-decoration: none;
				&:hover {
					color: $linkColorHover;
					text-decoration: underline;
				}
			}
			blockquote {
		    	// border-left:3px solid $brandOne;
		    	padding:($bodyLineHeight * 2);
		    	background:$brandOne;
		    	background:linear-gradient(45deg,$brandFive 25%, $brandOne 75%);
		    	color:$brandTwo;
		    	margin:($bodyLineHeight * 2) 0;
		    	position:relative;
		    	&:after {
					content:'';
					position:absolute;
					top:0;
					left:-($bodyLineHeight * 0.5);
					right:0;
					bottom:0;
					width:3px;
					height:100%;
					background:$brandOne;
					opacity:1;
					z-index:1;
				}
				p {
					transform:translateX(0) !important;
					font-family:$headlineFont;
					text-transform:uppercase;
					font-weight:400;
					color:$brandTwo;
					letter-spacing:0.1em;
					font-size:1.2em;
				}
			}
		}


// Borders
// -------
	.border {
		border:1px solid $borderColor;
	}
	.border-top {
		border-top:1px solid $borderColor;
	}
	.border-bottom {
		border-bottom:1px solid $borderColor;
	}
	.border-left {
		border-left:1px solid $borderColor;
	}
	.border-right {
		border-right:1px solid $borderColor;
	}




// Forms
// =====
	form {
		border:none;
		position:relative;
		background-color:transparent;
		margin:$bodyLineHeight 0;
	}
	.text-input {
	    border: none;
	    border: 1px solid $borderColor;
	    width: 100%;
	    max-width:500px;
	    padding: $bodyLineHeight;
	    text-indent: 0.01px;
	    margin-bottom: 15px;
	    background-color:$brandTwo;
	    &::-webkit-input-placeholder {
	        /* Chrome/Opera/Safari */
	        font-weight: bold;
	        color: $headlineFontColor;
	    }

	    &::-moz-placeholder {
	        /* Firefox 19+ */
	        font-weight: bold;
	        color: $headlineFontColor;
	    }

	    &:-ms-input-placeholder {
	        /* IE 10+ */
	        font-weight: bold;
	        color: $headlineFontColor;
	    }

	    &:-moz-placeholder {
	        /* Firefox 18- */
	        font-weight: bold;
	        color: $headlineFontColor;
	    }
	}

// Buttons Default
// ---------------
	.btn {
		display:inline-block;
		font-size: $btnFontSize;
		// font-family: $btnFontFamily !important;
		font-weight: $btnFontWeight !important;
		text-transform: $btnFontStyle !important;
		color: $btnTextColor !important;
		background-color:$btnBgColor !important;    
		border:1px solid $btnBorderColor !important;
		padding: 8px 30px;
		line-height: $bodyLineHeight !important;
		cursor:pointer;
		transition:all .1s linear;
		text-decoration:none;
		&:hover {
			border:1px solid $btnBorderHoverColor !important;
			background-color:$btnBgHoverColor !important;
			text-decoration: none !important;
			color: $btnTextHoverColor !important;

		}

		// Post Button
		// ==========
		&.post-btn {
			border:none !important;
			color: $postBtnTextColor !important;
			background-color:$postBtnBgColor !important;   
			padding:($bodyLineHeight * 1);
			position:relative;
			svg {
				position:absolute;
				top:50%;
				left:50%;
				transform:translate(-50%,-50%);
				// width:90%;
			}

			&:hover {
				background-color: $postBtnTextColor !important;
				color:$postBtnBgColor !important; 
			}
		}


		// // Secondary
		// // ---------
		// &.secondary {
		// 	color: $sec_btnTextColor !important;
		// 	{% if settings.sec_btn_bg_color != blank %}
		// 		background-color:$sec_btnBgColor !important;    
		// 	{% endif %}
		// 	border:1px solid $sec_btnBorderColor !important;
		// 	&:hover {
		// 		border:1px solid $sec_btnBorderHoverColor !important;
		// 		{% if settings.sec_btn_bg_hover_color != blank %}
		// 			background-color:$sec_btnBgHoverColor !important;
		// 		{% endif %}
		// 		color: $sec_btnTextHoverColor !important;

		// 	}
		// }

		// // Tertiary
		// // ---------
		// &.tertiary {
		// 	color: $tert_btnTextColor !important;
		// 	{% if settings.tert_btn_bg_color != blank %}
		// 		background-color:$tert_btnBgColor !important;    
		// 	{% endif %}
		// 	border:1px solid $tert_btnBorderColor !important;
		// 	&:hover {
		// 		border:1px solid $tert_btnBorderHoverColor !important;
		// 		{% if settings.tert_btn_bg_hover_color != blank %}
		// 			background-color:$tert_btnBgHoverColor !important;
		// 		{% endif %}
		// 		color: $tert_btnTextHoverColor !important;

		// 	}
		// }



		&.right {
			float:right;
		}
		&.full {
			width:100%;
		}

		&.newsletter-btn {
			// background-color:white !important;
		}
	} 

// Icons
// =====

	.icon {
	    display: inline-block;
	    width: 20px;
	    height: 20px;
	    // vertical-align: middle;
	    fill: currentColor;

	    .no-svg & {
	        display: none;
	    }
	}

	.icon--wide {
	    width: 40px;
	}

	svg,
	symbol {
	    &.icon:not(.icon--full-color) {
	        circle,
	        ellipse,
	        g,
	        line,
	        path,
	        polygon,
	        polyline,
	        rect {
	            fill: inherit;
	            stroke: inherit;
	        }
	    }
	}




