<!-- includes/hero -->
{% if page.banner_image != "" %}
	<div class="hero" id="banner" style="background-image: url('{{ page.banner_image | absolute_url }}');">
		<div class="center-content">
			<h2 class="h1">{{ page.heading | default: page.title }}</h2>
			{% if page.sub_heading and page.sub_heading != "" %}
				<h3>{{ page.sub_heading }}</h3>
			{% endif %}
			{% if page.hero_button %}
			<a href="{{ page.hero_button.href | absolute_url }}" class="btn" title="{{ page.hero_button.text }}">
				{{ page.hero_button.text }}&nbsp;<i class="fa fa-chevron-right"></i>
			</a>
			{% endif %}
		</div>
	</div>
{% endif %}


<script type="text/javascript">
	$(document).ready(function () {
		setTimeout(function(){
        	$('.hero').addClass('fade-in');
        }, 1000);
	})
</script>