<!-- includes/hero -->
{% if page.banner_image != "" %}
	<div class="hero fade-in" id="banner" >
		<div class="slider">
			{% for slide in page.slideshow %}
				<div 
					class="slide background-image fade-down" 
					style="background-image: url('{{ slide.image | absolute_url }}');">
					<div class="slide__meta">
						<h5 class="fade-up double"><a href="{{ slide.link | absolute_url }}">{{ slide.title }}</a></h5>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endif %}


<script type="text/javascript">
	$(document).ready(function () {
		setTimeout(function(){
        	$('.hero').addClass('active');
        }, 1000);

		// Slider
	  	$('.hero .slider').slick({
	    	dots: true,
		  	infinite: true,
		  	// speed: 300,
		  	fade: true,
		  	dotsClass: 'custom_paging',
		    customPaging: function (slider, i) {
		        //FYI just have a look at the object to find available information
		        //press f12 to access the console in most browsers
		        //you could also debug or look in the source
		        console.log(slider);
		        return  (i + 1) + '/' + slider.slideCount;
		    },
		  	slidesToShow: 1,
		  	prevArrow: '<button type="button" class="slick-arrow slick-prev">{% include icon-left-arrow.html %}</button>',
		  	nextArrow: '<button type="button" class="slick-arrow slick-next">{% include icon-right-arrow.html %}</button>'
	  	});
	});
</script>