<!-- includes/project-post -->
<div class="project-post">
	<a href="{{ p.url | absolute_url }}">
		<h4 class="tag">{{ p.tags.first }}</h4>
		{% if p.banner_image != '' %}
			{% assign image = p.banner_image | absolute_url %}
		{% else %}
			{% assign image = "/img/placeholder.png" | absolute_url %}
		{% endif %}
		<div class="background-image square " style="background-image:url({{ image }});" >
		</div>
		<div class="post-meta">
			<span class="h3">{{ p.title }}</span>
			<div class="underline"></div>
			<span class="date">{{ p.date | date: "%b %d, %Y" }}</span>
		</div>
	</a>
</div>