// featured-post
// ====

	.featured-post {
		overflow:hidden;
		position:relative;
		background-color:$brandFour;
		padding:($bodyLineHeight * 2) 0 ($bodyLineHeight * 4);
		z-index:1;
		h2 {
			color:$brandOne;
			text-align:center;
			margin-top:0;
		    letter-spacing: -0.05em;
		    font-weight:900;
		    // font-size:2.8em;
		}
		.container {
			padding:0 $bodyLineHeight;
			max-width:800px;
			z-index:1;
		}
		.post-title {
		    letter-spacing: -0.05em;
			line-height: 0.9em;
			font-weight:900;
			margin:0;
			font-size:2em;
			padding:0 0 0 $bodyLineHeight;
			color:$brandTwo;
		}
		.entry-date, 
		.tags {
			color:$brandOne;
		}
		.entry-date, 
		.tags {
			display:block;
			margin:0 0;
			font-size:($bodyFontSize * 1.25);
		}

		.vert-middle {
			margin-bottom:($bodyLineHeight * 2);
		}

		.background-image {
			border:2vw solid $brandTwo;
			padding-top: calc(100% - 3.95vw) !important;
			z-index:2;
		}
		.btn {
			margin-top:$bodyLineHeight;
			margin-bottom:$bodyLineHeight;
		}
		&:after {
		    content: '';
		    position: absolute;
		    top: 0;
		    right: 0;
		    bottom: 0;
		    z-index: -1;
		    width: 0;
		    height: 0;
		    border-style: solid;
		    border-width: 0 0 120vh 130vh;
		    border-color: transparent transparent $brandTwo transparent;
		    opacity: 0;
		    transition: all 0.3s ease;
		}


		


		@media screen and (min-width:$grid-medium) {
			&:after {
			    opacity: 1;
			    border-width: 0 0 120vh 95vh;
			}
		}
		@media screen and (min-width: $grid-large) {
			&:after {
			    opacity: 1;
			    border-width: 0 0 120vh 120vh;
			}
		}
		@media screen and (max-width:$grid-large - 1) {
			.post-title {
				padding:0 ;
			}
		}
		// @media screen and (min-width: 1023px) {
		// 	&:after {
		// 	    border-width: 0 0 120vh 140vh;
		// 	}
		// }

		
	}