// featured-projects
// ====

	.featured-projects {
		overflow:hidden;
		background-color:lighten($brandThree,20%);
		padding:($bodyLineHeight * 2) 0;
		box-shadow: inset 0px 20px 15px -13px rgba(51, 55, 69, 0.7), 
					inset 0px -15px 10px -10px rgba(51, 55, 69, 0.7);

		.grid__item:nth-of-type(n+5) {
			display:none;
		}
	}