
footer {
	text-align:center;
	background-color:$brandFive;
	padding:($bodyLineHeight * 1.5) $bodyLineHeight;
	color:$brandFour;
	.footer-nav {
		ul {
			margin:0 0 $bodyLineHeight;
			padding:0;
			li {	
				display:inline-block;
				margin:0;
				padding:0;
				a {
					display:block;
					text-align:center;
					padding:($bodyLineHeight / 4) ($bodyLineHeight / 2);
					text-decoration:none;
					color:$brandTwo;
					font-weight: 600;
    				text-transform: lowercase;
				}
			}
		}
	}
	.copyright {
		p {
			color:$brandFour;
		}
	}
	@media screen and (max-width:$grid-medium) {
		.footer-nav {
			ul {
				li {
					display:block;

				}
			}
		}
	}
}