// Navigation
	.site-header {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		z-index:10;
		.container {
			padding:($bodyLineHeight / 2) $bodyLineHeight;
		}
		ul {
			margin:0;
			padding:0;
			li {	
				display:inline-block;
				margin:0;
				padding:0;
				a {
					display:block;
					text-align:center;
					padding:($bodyLineHeight / 4) ($bodyLineHeight / 2);
					text-decoration:none;
				}
			}
		}
		.logo {
			margin:0 0;
			font-family:$logoFont;
			position:absolute;
			top:($bodyLineHeight * 1.1);
			left:($bodyLineHeight * 4.5);
			color:$brandTwo;
			display:block;
			width:300px;
			font-size:1em;
			a {
				font-size:inherit;
				color:inherit;
				font-family:inherit;
				text-decoration:none;
			}
			.main_title {
				font-size:3.1em;
				display:block;
				margin:0;
				font-weight:400;
			}
			.sub_title {
				font-size:0.74em;
				text-transform:uppercase;
				font-family:$bodyFont;
				display:block;
				margin:0.65em 0 0;
			}
			img {
				max-width:80px;
				display:block;
			}
		}
		.nav-toggle {
			position:absolute;
			top:($bodyLineHeight * 0.5);
			left:($bodyLineHeight * 0.5);
			padding:$bodyLineHeight;
			color:$brandTwo;
			line-height:1;
			cursor:pointer;
			img,
			svg {
				fill:currentColor;
				width:30px;
				height:30px;
			}
			&.close {
				color:$brandTwo;
				background-color:$brandFive;
				position:fixed;
			}
		}
		.main-nav {
			position:fixed;
			top:0;
			left:0;
			width:100%;
			max-width:300px;
			height:100vh;
			overflow:hidden;
			overflow-y:auto;
			background-color:$brandFive;
			padding-top:($bodyLineHeight * 4);
			opacity:0;
			transform:translateX(-100%);
			transition: all .05s linear;
			li {
				display:block;
				padding:($bodyLineHeight * 1);
				border-bottom:1px solid $borderColor;
				&:first-of-type {
					border-top:1px solid $borderColor;
				}
			}
			&.show {
				opacity:1;
				transform:translateX(0%);
				transition: transform .3s linear,
							opacity .1s linear;
			}
		}
	}