// Pages
// -----

.template--page {
	.max-width {
		background-color:$brandFour;
	}
	.mainContent {
		padding-top:($bodyLineHeight * 4.5);
	}
	.site-header {
		ul {

			li {
				a {
					color:$brandFive;
				}
			}
		}
		.main-nav.show ul li a {
			color:$brandFour;
		}
		.nav-toggle:not(.close) {
			color:$brandFive;
		}
	}


	.page-banner {
		padding:($bodyLineHeight * 8) $bodyLineHeight;
		position:relative;
		z-index:1;
		margin-bottom:($bodyLineHeight * 2);
		&:before {
			content:'';
			position:absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			width:100%;
			height:100%;
			z-index:0;
			background-color:$brandFive;
			mix-blend-mode:hard-light;
		}
		h1 {
		    letter-spacing: -0.05em;
			line-height: 0.9em;
			font-weight:900;
			margin:0;
			font-size:2.5em;
			padding:0 0 0 $bodyLineHeight;
		}
		h1,
		.entry-date, 
		.tags {
			color:$brandFour;
		}
		.entry-date, 
		.tags {
			display:block;
			margin:0 0;
			font-size:($bodyFontSize * 1.25);
		}
		.grid__item {
			vertical-align:middle;
		}
	}

	.meta-title {
		padding:($bodyLineHeight * 0.15);
		margin:($bodyLineHeight * 0.3) 0;
		display:inline-block;
		font-weight:400;
		letter-spacing: 0.1em;
		font-size:1.2em;
	}
	.tech {
		span {
			font-weight:600;
		}
	}

	.related-posts {
		.related-post {
			display:block;
			padding:($bodyLineHeight * 0.75) ($bodyLineHeight * 0.5);
			text-decoration:none;
			margin:($bodyLineHeight * 0.5) 0;
			opacity:0.7;
			transition: all .1s linear;
			.related-title {
				font-weight:900;
				text-transform:uppercase;
				margin:0;
				color:$brandFour;
			}
			.related-date {
				color:$brandFour;
			}
			&:hover {
				opacity:1;
			}
		}
	}

	.gallery {
		padding:0 0 ($bodyLineHeight * 2);
	    max-width: 350px;
	    margin: 0 auto;
		.box {
			margin:0 0 ($bodyLineHeight * 2);
		}
		.background-image {
			border:1px solid $brandFour;
		}
		.caption {
			display:block;
			padding:($bodyLineHeight * 0.8) ($bodyLineHeight / 2);
		}
	}

	@media screen and (max-width:$grid-large - 1) {
		.page-banner {
			h1 {
				padding:0 ;
			}
		}
	}

	


	// Orange
	&.color-orange-bg {
		// background:$brandThree;
		.max-width {
			background-color:$brandThree;
		}

		.border, 
		.border-bottom, 
		.border-top, 
		.border-left,
		.border-right {
			border-color:$brandFive;
		}
		.site-header {
			ul {

				li {
					a {
						color:$brandFive;
					}
				}
			}
		}
		.related-posts {
			.related-post {
				background-color:$brandThree;
				.related-title,
				.related-date {
					color:$brandFive;
				}
				&:hover {
					background-color:lighten($brandThree,15%);
				}
			}
		}
		.rte {
			color:$brandFive;
			p {
				color:$brandFive;
			}
			@for $i from 1 through 6 {
			  	h#{$i}, .h#{$i} {
			    	color:$brandFive;
			  	}
			}
			a {
				color:$brandTwo;
				text-decoration: none;
				&:hover {
					color: $linkColorHover;
					text-decoration: underline;
				}
			}
			blockquote {
		    	border-left:3px solid $borderColor;
		    	background:$brandFive;
		    	color:$brandFour;
			}
		}
	}

	// white
	&.color-white-bg {
		// background:$brandFour;
		.max-width {
			background-color:$brandFour;
		}
		.border, 
		.border-bottom, 
		.border-top, 
		.border-left,
		.border-right {
			border-color:$brandFive;
		}
		.meta-title {
			color:$brandFive;
		}
		.site-header {
			ul {

				li {
					a {
						color:$brandFive;
					}
				}
			}
		}
		.related-posts {
			.related-post {
				background-color:$brandFour;
				.related-title,
				.related-date {
					color:$brandFive;
				}
				&:hover {
					background-color:lighten($brandFour,15%);
				}
			}
		}
		.rte {
			color:$brandFive;
			p {
				color:$brandFive;
			}
			@for $i from 1 through 6 {
			  	h#{$i}, .h#{$i} {
			    	color:$brandFive;
			  	}
			}
			a {
				color: $linkColor;
				text-decoration: none;
				&:hover {
					color: $linkColorHover;
					text-decoration: underline;
				}
			}
			blockquote {
		    	border-left:3px solid $borderColor;
		    	background:$brandOne;
		    	color:$brandFour;
			}
		}
	}
	// Orange
	&.color-red-bg {
		// background:$brandTwo;
		.max-width {
			background-color:$brandTwo;
		}
		.border, 
		.border-bottom, 
		.border-top, 
		.border-left,
		.border-right {
			border-color:$brandFour;
		}
		.meta-title {
			color:$brandFour;
		}
		.site-header {
			ul {

				li {
					a {
						color:$brandFour;
					}
				}
			}
		}
		.related-posts {
			.related-post {
				background-color:$brandTwo;
				.related-title,
				.related-date {
					color:$brandFour;
				}
				&:hover {
					background-color:lighten($brandTwo,15%);
				}
			}
		}
		.rte {
			color:$brandFour;
			p {
				color:$brandFour;
			}
			@for $i from 1 through 6 {
			  	h#{$i}, .h#{$i} {
			    	color:$brandFour;
			  	}
			}
			a {
				color: $brandFive;
				text-decoration: none;
				&:hover {
					color: $brandFour;
					text-decoration: underline;
				}
			}
			blockquote {
		    	border-left:3px solid $borderColor;
		    	background:$brandFour;
		    	color:$brandTwo;
			}
		}
	}

	// white
	&.color-green-bg {
		// background:$brandOne;
		.max-width {
			background-color:$brandOne;
		}
		.border, 
		.border-bottom, 
		.border-top, 
		.border-left,
		.border-right {
			border-color:$brandFive;
		}
		.meta-title {
			color:$brandFive;
		}
		.site-header {
			ul {

				li {
					a {
						color:$brandFive;
					}
				}
			}
		}
		.related-posts {
			.related-post {
				background-color:$brandOne;
				.related-title,
				.related-date {
					color:$brandFive;
				}
				&:hover {
					background-color:lighten($brandOne,15%);
				}
			}
		}
		.rte {
			color:$brandFive;
			p {
				color:$brandFive;
			}
			@for $i from 1 through 6 {
			  	h#{$i}, .h#{$i} {
			    	color:$brandFive;
			  	}
			}
			a {
				color: $linkColor;
				text-decoration: none;
				&:hover {
					color: $linkColorHover;
					text-decoration: underline;
				}
			}
			blockquote {
		    	border-left:3px solid $borderColor;
		    	background:$brandFive;
		    	color:$brandFour;
			}
		}
	}
}



