.template--projects,
.template--posts {
	.max-width {
		background-color:$brandThree;
	}
	.mainContent {
		padding-top:($bodyLineHeight * 4.5);
	}

	.page-title {
		color:$brandFive;
		margin:($bodyLineHeight * 0.5) 0 0;
	}
	.site-header {
		background-color:$brandFive;
		background:linear-gradient(45deg,$brandFive, $brandOne);
		height:($bodyLineHeight * 4.5);
		ul {

			li {
				a {
					color:$brandTwo;
				}
			}
		}
		.main-nav.show ul li a {
			// color:$brandFour;
		}
		.nav-toggle:not(.close) {
			color:$brandTwo;
		}
	}
	.container.padding {
		max-width:1400px;
	}
	.date {
		&.collection {
			display:block;
			position:absolute;
			top:-0.5em;
			left:-4em;
			transform:rotate(-90deg) translate(-50%,0%);
			text-align:right;
		}
	}

}

.template--musics {
	.max-width {
		background-color:$brandOne;
	}
	.mainContent {
		padding-top:($bodyLineHeight * 4.5);
	}
	.site-header {
		ul {

			li {
				a {
					color:$brandFour;
				}
			}
		}
		.main-nav.show ul li a {
			color:$brandFour
		}
		.nav-toggle:not(.close) {
			color:$brandFour;
		}
	}
	.project-post {
		.background-image {
			border: 1vw solid $brandFour;
		}
		.tag, 
		.h3,
		.date {
			color:$brandFour;
		}
		.underline {
			background-color:$brandFour;
		}
		a {
			text-decoration:none;
			&:hover {
				.background-image {
					border: 1vw solid darken($brandFour,10%);
				}
				.underline {
					background-color: darken($brandFour,10%);
				}
				.tag, 
				.h3,
				.date {
					color: darken($brandFour,10%);

				}
			}
		}
	}
}

.template--blogs {
	.max-width {
		background-color:$brandFour;
	}
	.mainContent {
		padding-top:($bodyLineHeight * 4.5);
	}
	.page-title {
		color:$brandFive;
	}
	.site-header {
		ul {

			li {
				a {
					color:$brandFive;
				}
			}
		}
		.main-nav.show ul li a {
			color:$brandFour
		}
		.nav-toggle:not(.close) {
			color:$brandFive;
		}
	}
	.project-post {
		.background-image {
			border: 1vw solid $brandFive;
		}
		.tag, 
		.h3,
		.date {
			color:$brandFive;
		}
		.underline {
			background-color:$brandFive;
		}
		a {
			text-decoration:none;
			&:hover {
				.background-image {
					border: 1vw solid lighten($brandFive,10%);
				}
				.underline {
					background-color: lighten($brandFive,10%);
				}
				.tag, 
				.h3,
				.date {
					color: lighten($brandFive,10%);

				}
			}
		}
	}
}

