// Project Post 
// ------------

	.project-post {
		$shadow:rgba(51, 55, 69, 0.4);
		$shadowHover:rgba(51, 55, 69, 0.6);
		padding:$bodyLineHeight;
		max-width:450px;
		margin:0 auto;
		.tag {
			font-size:2em;
			font-weight:300;
			letter-spacing:0.1em;
			min-height:40px;
		}
		
		.background-image {
			border: 1vw solid $brandFour;
			box-shadow:5px 6px 7px $shadow;
			transition:all .1s linear;
			padding-top: calc(100% - 2vw) !important;
		}
		.post-meta {
			padding:($bodyLineHeight / 2);
		}
		.h3 {
			font-size:1.2em;
			text-transform:uppercase;
			letter-spacing:0.05em;
			font-weight:700;
			margin:0;
		}
		.tag, 
		.h3,
		.date {
			color:$brandFive;
			text-shadow:1px 2px 3px $shadow;
			transition:all .1s linear;

		}
		.underline {
			background-color:$brandFive;
			height:1px;
			width:90%;
			margin:($bodyLineHeight / 2) auto;
			box-shadow:1px 2px 3px $shadow;
			transition: all .1s linear;
		}
		a {
			text-decoration:none;
			&:hover {
				.background-image {
					border: 1vw solid $brandFour;
					box-shadow:1px 3px 5px $shadowHover;
				}
				.underline {
					background-color:$brandFour;
					box-shadow:1px 1px 2px $shadowHover;
				}
				.tag, 
				.h3,
				.date {
					color:$brandFour;
					text-shadow:1px 1px 2px $shadowHover;

				}
			}
		}

		@media screen and (max-width:$grid-large - 1) {
			.tag {
				font-size:1.5em;
			}
		}
	}