---
layout: default
---
<!-- layouts/404 -->
<div class="background-image page-banner fade-in" style="background-image: url({{ page.banner_image | absolute_url }});">
	<div class="center-content">
		{% comment %}<h1 class="fade-up">{{ page.title }}</h1>{% endcomment %}
		<h1 class=" typewrite" data-period="['500']" data-type='[ "Shti....", "sIht...","askj....", "Shitfukc." ]'></h1>
		<div class="sub-header fade-up">
				{{ page.sub_heading }}
		</div>
		<a class="btn" href="{{ '/' | absolute_url }}">Home</a>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function () {
		setTimeout(function(){
        	$('.page-banner').addClass('active');
        }, 1000);




        var TxtType = function(el, toRotate, period) {
	        this.toRotate = toRotate;
	        this.el = el;
	        this.loopNum = 0;
	        this.period = period;
	        this.delay = parseInt(period, 20) || 2000;
	        this.txt = '';
	        this.tick();
	        this.isDeleting = false;
	    };
	    var timesRun = 0;
	    TxtType.prototype.tick = function(e) {
	        var i = this.loopNum % this.toRotate.length;
	        var fullTxt = this.toRotate[i];
	        if (this.isDeleting) {
	        	this.txt = fullTxt.substring(0, this.txt.length - 1);
	        } else {
	        	this.txt = fullTxt.substring(0, this.txt.length + 1);
	        	// console.log(i)

	        }

	        this.el.innerHTML = this.txt;

	        var that = this;
	        var delta = 150 - Math.random() * 100;

	        if (this.isDeleting) { delta /= 2; }

	        if (!this.isDeleting && this.txt === fullTxt) {
		       
	        	timesRun += 1;
	        	delta = this.delay;
		        this.isDeleting = true;
	        	if (timesRun == 3) {
	        		// delay = 100;
	        		// delta = this.delay;
	        		// var delay = parseInt(1000, 10) || 1000;
	        		// delta = delay;
	        		// console.log(delay)

	        	}
	        	// console.log(i);

	        } else if (this.isDeleting && this.txt === '') {
        		this.isDeleting = false;
		        this.loopNum++;		        
			     delta = 300;
	        }

	        setTimeout(function() {
	        	if (timesRun < 4) {
	        		that.tick();
	        	}
	        }, delta);
	        
	    };

	    window.onload = function() {
	        var elements = document.getElementsByClassName('typewrite');
	        for (var i=0; i<elements.length; i++) {
	            var toRotate = elements[i].getAttribute('data-type');
	            var period = elements[i].getAttribute('data-period');
	            if (toRotate) {
	              new TxtType(elements[i], JSON.parse(toRotate), period);
	            } 
	            
	        }
	        // INJECT CSS
	        // var css = document.createElement("style");
	        // css.type = "text/css";
	        // css.innerHTML = ".typewrite { border-right: 0.08em solid #fff}";
	        // document.body.appendChild(css);
	    };
    });
</script>