<!doctype html>
<html class="no-js" lang="en">
	{% assign layout_name = page.layout | handleize | downcase %}
	{% assign page_name_raw = page.title %}
	{% assign page_handle = page_name_raw | replace: ' ', '-' %}
	{% assign page_name = page_handle | downcase %}
	{% assign page_color = page.color %}
	{% assign col_handle = page_color | downcase %}
	{% assign color = col_handle | replace: ' ','-' %}
	{% include head.html %}
	<body class="template--{{ layout_name }} {% if color != '' %}color-{{ color }}{% endif %}" id="{{ page_name }}">
		<div class="max-width">
			{% include nav.html %}

			<div class="mainContent">
				<div class="container">
					{{ content }}
				</div>
			</div>

			{% comment %}{% include footer.html %}{% endcomment %}
		</div>
		
	</body>
</html>