---
layout: default
---
<!-- layouts/musics -->
<div class="container padding fade-in">
	<h2 class="page-title fade-down">{{ page.layout | capitalize }} / Posts</h2>	
	<div class="grid">
		{% for p in site.musics %}
			<div class="grid__item small--one-whole medium--one-quarter large-up--one-quarter fade-up">
				{% include project-post.html %}
			</div>
		{% endfor %}
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		// $('.container.padding').addClass('fade-in');
		setTimeout(function(){
        	$('.container.padding').addClass('active');
        }, 1000);
	})
</script>