---
layout: default
---
<!-- layouts/page -->
{% if page.gallery.size > 0 %}
	<div class="slider">
		{% for img in page.gallery %}
			<div  
				title="{{ img.caption }}"
				class="slide background-image" 
				id="trigger-{{ forloop.index }}" 
				style="background-image: url({{ img.image | absolute_url }});">
				<div class="right-overlay">
					<div class="center-content">
						<h3 class="h4">{{ img.caption }}</h3>
						<div>
							{{ img.detail }}
						</div>
					</div>
				</div>
				<div class="arrow-bg"></div>
			</div>
		{% endfor %}
	</div>
	<script type="text/javascript">
		$(document).ready(function () {

			// Img replace with Background image / Caption setup
			var img = $('img[src*="/uploads/"]');
			img.each(function (i) {
				var current = $(this).attr('src'),
					alt = $(this).attr('alt'),
					title = $(this).attr('title'),
					id = 'img-'+i,
					abs = '{{ site.baseurl }}',
					url = abs+current,
					wrap = '<div class="img '+id+'"><div class="background-image square" style="background-image:url('+url+');"></div><div class="img-info"></div></div>';
				$(this).replaceWith(wrap);
				if (title !== null && title !== '' && typeof title !== typeof undefined) {
					$('.'+id+' .img-info').append('<h3>'+title+'</h3>');
				}
				if (alt !== null && alt !== '' && typeof alt !== typeof undefined) {
					$('.'+id+' .img-info').append('<span class="caption">'+alt+'</span>');
				}
				if (title !== null && title !== '' && typeof title !== typeof undefined || alt !== null && alt !== '' && typeof alt !== typeof undefined) {
					$('.'+id+' .background-image').addClass('overlay');
				}
			})
			// Slider hover info
			$('.arrow-bg').on('mouseenter', function () {
				$('.right-overlay').addClass('show');

			})
			$('.arrow-bg').on('mouseleave', function () {
				setTimeout(function(){
					$('.right-overlay').removeClass('show');
		        }, 300);
		        $('.slick-arrow').hover(function () {
					$('.right-overlay').toggleClass('hold-show');
				})
			})
			$('.right-overlay').hover(function () {
				$(this).toggleClass('hold-show');
			})

			// Slider
		  	$('.slider').slick({
		    	dots: true,
			  	infinite: true,
			  	// speed: 300,
			  	fade: true,
			  	dotsClass: 'custom_paging',
			    customPaging: function (slider, i) {
			        //FYI just have a look at the object to find available information
			        //press f12 to access the console in most browsers
			        //you could also debug or look in the source
			        // console.log(slider);
			        return  (i + 1) + '/' + slider.slideCount;
			    },
			  	slidesToShow: 1,
			  	prevArrow: '<button type="button" class="slick-arrow slick-prev">{% include icon-left-arrow.html %}</button>',
			  	nextArrow: '<button type="button" class="slick-arrow slick-next">{% include icon-right-arrow.html %}</button>'
		  	});
		})
	</script>
{% endif %}

<div class="container thin padding scroll-trigger">
	<div class="grid">
		<div class="grid__item one-whole  fade-down">
			<div class="post-meta">
				<h1 class="post-title fade-down ">{{ page.title }}</h1>
				<span class="entry-date">{{ page.date | date: "%b %d, %Y" }}</span>
			</div>
			<div class="rte">
	            {{ content }}
	        </div>
		</div>
	</div>
</div>



{% comment %}		<div class="grid__item small--hide medium--hide large-up--one-quarter fade-up">
			{% include side-feed.html %}
		</div>{% endcomment %}


		{% comment %}<div class="grid__item one-whole large-up--one-quarter fade-up">
			{% if page.gallery.size > 0 %}
				<div class="gallery">
					<h5 class="meta-title border-bottom">Gallery</h5>
					{% for img in page.gallery %}
						<div  class="box {% unless forloop.last %}border-bottom{% endunless %}" id="trigger-{{ forloop.index }}">
							<a title="{{ img.caption }}" href="{{ img.image | absolute_url }}" class="background-image square" style="background-image: url({{ img.image | absolute_url }});">
							</a>
							<span class="caption">{{ img.caption }}</span>
						</div>
					{% endfor %}
				</div>
				<script type="text/javascript">
					$(document).ready(function () {
						$('.gallery .box .square').simpleLightbox();
					})
				</script>
			{% endif %}
		</div>{% endcomment %}