---
layout: default
---
<!-- layouts/page -->

<div class="background-image page-banner short fade-in" style="background-image: url({{ page.banner_image | absolute_url }});">
	<div class="grid">
		<div class="grid__item one-whole text-center {% unless page.show_date == false %}medium-up--one-half medium-up--text-right {% endunless %}">
			<h1 class="fade-right">{{ page.title }}</h1>
			{% if page.description != blank %}
				<div class="sub-header fade-left">
					{{ page.description }}
				</div>
			{% endif %}
		</div>
		{% unless page.show_date == false %}
			<div class="grid__item one-whole text-center medium-up--one-half medium-up--text-left">
				<span class="tags fade-left">
					{% for t in page.tags %}
						<span>{{ t }}</span>{% unless forloop.last %}-{% endunless %}
					{% endfor %}
				</span>
				<span class="entry-date fade-left">{{ page.date | date: "%b %d, %Y" }}</span>
			</div>
		{% endunless %}
	</div>
</div>
<div class="container thin padding fade-in">
	<div class="grid">
		<div class="grid__item one-whole  fade-down">
			<div class="rte">
	            {{ content }}
	        </div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function () {
		setTimeout(function(){
        	$('.fade-in').addClass('active');
        }, 1000);
		// Img replace with Background image / Caption setup
		var img = $('.rte img[src*="/uploads/"]');
		img.each(function (i) {
			var current = $(this).attr('src'),
				alt = $(this).attr('alt'),
				title = $(this).attr('title'),
				id = 'img-'+i,
				abs = '{{ site.baseurl }}',
				url = abs+current,
				wrap = '<div class="img '+id+'"><div class="background-image square" style="background-image:url('+url+');"></div><div class="img-info"></div></div>';
			$(this).replaceWith(wrap);
			if (title !== null && title !== '' && typeof title !== typeof undefined) {
				$('.'+id+' .img-info').append('<h3>'+title+'</h3>');
			}
			if (alt !== null && alt !== '' && typeof alt !== typeof undefined) {
				$('.'+id+' .img-info').append('<span class="caption">'+alt+'</span>');
			}
			if (title !== null && title !== '' && typeof title !== typeof undefined || alt !== null && alt !== '' && typeof alt !== typeof undefined) {
				$('.'+id+' .background-image').addClass('overlay');
			}
		})
		var options = [
		  	{
		    	selector: '.container.background-image',
		    	vh: 100, 
		  	}
		];

		var vhFix = new VHChromeFix(options);
	})
</script>
